* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header ul {
  background-color: rgb(22, 22, 22);
  padding-top: 3px;
  padding-bottom: 3px;
}

header ul li {
  display: inline;
}

header ul li a {
  text-decoration: none;
  font-size: 25px;
  margin: 2px;
  padding: 2px;
  color: white;
}

header ul li a:hover {
  color: rgb(216, 72, 72);
}

footer p {
  background-color: rgb(22, 22, 22);
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: white;
  width: 100%;
  text-align: center;
  padding: 2px;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  color: rgb(216, 72, 72);
}

main {
  text-align: center;
  background-color: rgb(44, 44, 44);
  position: fixed;
  height: 100%;
  width: 100%;
}

form {
  position: relative;
  top: 5%;
}

.file-upload {
  background-color: #303030;
  width: 98%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
  position: relative;
}

.formTtitle {
  color: white;
  font-size: 25px;
  text-align: center;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #ec3131;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #ec3131;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
  
.file-upload-btn:hover {
  background: #f03a3a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}
  
.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}
  
.file-upload-content {
  display: none;
  text-align: center;
}
  
.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
  
.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #ec3131;
  position: relative;
}
  
.image-dropping, .image-upload-wrap:hover {
  background-color: #ec3131;
  border: 4px dashed #ffffff;
}
  
.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}
  
.drag-text {
  text-align: center;
}
  
.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #c7e2d5;
  padding: 60px 0;
}
  
.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}
  
.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
  
.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}
  
.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

img {
  position: relative;
  top: 5%;
  width: 100%;
  max-width: 550px;
  height: auto;
}